<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/products/<%= product.title || '' %>">
        <div>
            <input type="text" name="title" value="<%= product.title || '' %>">
        </div>
        <div>
            <input type="text" name="description" value="<%= product.title || '' %>">
        </div>
        <div>
            <input type="number" name="price" value="<%= product.title || '' %>">
        </div>
        <div>
            <input type="submit" value="Add product">
        </div>
    </form>
</body>
</html>